footer {
    font-family: 'Zen Tokyo Zoo', cursive;;
    font-weight: 440;
    width: 100%;
    text-align: center;
    padding: 22px;
    background: goldenrod;
    color: black;
  }
  
  footer[role="contentinfo"] {
    clear: both;
  }

  footer[role="contentinfo"] {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0px;
    margin-top: 25px;
  }